# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Cache crap that Valve autogenerates
*.bin

game/guardianrpg/tool_asset_info.bin


# Ignore all particles
*.vpcf_c

#Ignore all compiled mats
*.vmat_c

#Ignore all compiled sounds
*.vsndevts_c

# Map Files
game/guardianrpg/tools_thumbnail_cache.bin
*.vpk
*.vmat_c
*.vtex_c
*.vtex_c
*.vjs_c
*.vmdl_c
*.vxml_c
*.vcss_c
*.vmesh_c
game/guardianrpg/panorama_debugger.cfg